{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
